@tailwind base;
@tailwind components;
@tailwind utilities;

/* تعريف الألوان والخلفيات الأساسية */
@layer base {
  body {
    @apply bg-secondary overflow-hidden leading-relaxed transition-all duration-500;
    background-image: url('/dark.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* عند تفعيل وضع الـ Light */
  html.light body {
    background-image: url('/light.png');
    color: #000000 !important;
  }

  /* تنسيق النصوص للوضع النهاري */
  html.light h1, html.light h2, html.light h3, html.light p, html.light a, html.light button {
    color: #000000 !important;
  }

  /* تخصيص الخطوط حسب اللغة */
  html[lang='ar'] { font-family: var(--font-cairo), sans-serif; direction: rtl; }
  html[lang='en'] { font-family: var(--font-sora), sans-serif; direction: ltr; }

  .page { @apply w-full h-screen overflow-hidden; }
}

/* تنسيق العناصر */
.accent-color { color: #406fd4; }
.swiper-pagination-bullet { background-color: #406fd4 !important; }
.swiper-button-next:after, .swiper-button-prev:after { color: #406fd4 !important; }